@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Caveat:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-handwritten: 'Caveat', cursive;

  @keyframes grain {

    0%,
    100% {
      transform: translate(0, 0)
    }

    10% {
      transform: translate(-5%, -10%)
    }

    20% {
      transform: translate(-15%, 5%)
    }

    30% {
      transform: translate(7%, -25%)
    }

    40% {
      transform: translate(-5%, 25%)
    }

    50% {
      transform: translate(-15%, 10%)
    }

    60% {
      transform: translate(15%, 0%)
    }

    70% {
      transform: translate(0%, 15%)
    }

    80% {
      transform: translate(3%, 35%)
    }

    90% {
      transform: translate(-10%, 10%)
    }
  }

  --color-background: #000000;
  --color-surface: #030014;
  --color-primary: #8b5cf6;
  --color-secondary: #ec4899;
  --color-accent: #f59e0b;

  --font-sans: 'Outfit',
  sans-serif;

  --animate-spin-slow: spin 3s linear infinite;
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-white font-sans overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}